*{
	padding: 0px;
	margin: 0px;
	
}
ul li{
	list-style: none;
}
.clearBoth{
	clear: both;
}
.clearl{
	clear: left;
}
a{
	color: #000000;
	text-decoration: none;
}
/*附近门店*/
#store{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
/*地图*/
.map{
	width:100%;
	height: 42%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 0.32rem;
}
/*门店列表*/
.storeBox{
	width: 100%;
	height: 58%;
	background-color: #f3f3f3;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 0.3rem;
}
/*列表详情*/
.storeBox .storeList{
	width: 91.25%;
	margin: 0 auto;
	margin-bottom:0.3rem;
	background-color: white;
	border-radius: 3%;
}
/*修改的开始*/
.storeBox .storeList .storeName{
	margin-left: 2.5%;
	font-size: 0.32rem;
	line-height: 0.6rem;
	padding-top: 0.2rem;
	width: 72.5%;
	float: left;
}
.storeBox .storeList .km{
	margin-top: 0.34rem;
	line-height: 0.32rem;
	width: 25%;
	float: right;
	background: url(../img/address.png) no-repeat left center;
	text-indent: 0.32rem;
	font-size: 0.26rem;
	background-size: auto 0.32rem;
	word-break: break-all;
	text-overflow: ellipsis;
	 display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	 -webkit-line-clamp: 1; /** 显示的行数 **/
	 overflow: hidden;  /** 隐藏超出的内容 **/
}
/*修改的结束*/
.storeBox .storeList .storeAddress{	
	font-size: 0.28rem;
	line-height: 0.6rem;
	color: #999999;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 0.2rem;
}
.storeBox .storeList .storeAddress p:nth-child(1){
	float: left;
	margin-left: 2.5%;
	width: 91%;
	word-break: break-all;
	text-overflow: ellipsis;
	 display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	 -webkit-line-clamp: 1; /** 显示的行数 **/
	 overflow: hidden;  /** 隐藏超出的内容 **/
}
.storeList ul li:nth-child(3) a{
	height: 45px;
	width: 49.5%;
	float: left;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.9rem;
}
.storeList ul li:nth-child(3) a:first-child{
	border-right: 1px solid #cfcfcf;
	background: url(../img/phone.png) no-repeat;
	background-position-y: center;
	background-position-x: 0.85rem;
	background-size: auto 0.34rem; 
	text-indent:0.55rem;
}
.storeList ul li:nth-child(3) a:nth-child(2){
	background: url(../img/go.png) no-repeat;
	background-position-y: center;
	background-position-x: 0.75rem;
	background-size: auto 0.34rem; 
	text-indent:0.65rem;
}
/*内嵌框*/
#personInfor{
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
}
